# Ignore phpstorm settings
.idea

# Ignore persisting mysql data
mysql/*

# Ignore ECCUBE cache
ec2/data/cache/*

# Ignore ECCUBE logs
#ec2/data/logs/*

# Ignore compiled Smarty templates
ec2/Smarty/templates_c

# Ignore installed Composer packages
ec2/data/vendor

# Ignore temporary installation files
ec2/html/install/temp
