/* ////////////////////////////////////////////////////////////////////////////////

	Common

//////////////////////////////////////////////////////////////////////////////// */
@font-face {
	font-family: 'sns_icon';
	src:
		url('../font/sns_icon.ttf?5mfine') format('truetype'),
		url('../font/sns_icon.woff?5mfine') format('woff'),
		url('../font/sns_icon.svg?5mfine#icf') format('svg');
	font-weight: normal;
	font-style: normal;
}
i.snsIcon {
	font-family: 'sns_icon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;

	color: #000;
}
.icon_facebook:before { content: "\e900"; }
.icon_instagram:before { content: "\e901";}
.icon_line:before { content: "\e902";}
.icon_twitter:before { content: "\e903";}
.icon_youtube:before { content: "\e904";}


body {
	font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
	font-size: 12px;
	line-height: 1.8;
	-webkit-text-size-adjust: 100%;
}


input[type="button"],
input[type="text"],
select,
input[type="submit"],
input[type="file"],
input[type="checkbox"],
textarea {
	-webkit-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	border: none;
}

img {
	max-width: 100%;
	height: auto;
}
ul { list-style: none;}

.contentWrap {
	padding: 0 60px;
	max-width: 1260px;
	margin: 0 auto;
    overflow: hidden;
}

.moreBtn {
	padding: 80px;
}
.moreBtn a {
	display: block;
	border: #000 solid 2px;
	font-family: neue-haas-grotesk-display, sans-serif;
	font-size: 16px;
	text-align: center;
	padding: 25px;
	color: #000;
	text-decoration: none;
	max-width: 360px;
	margin: 0 auto;
	box-sizing: border-box;
	letter-spacing: 0.05em;
}

.anim {
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
.anim.on {
	opacity: 1;
}


@media screen and (min-width: 813px) {

	.sp { display: none;}

	a {transition: all 0.3s ease-out;}
	a:hover { opacity: 0.5;}

	.moreBtn a:hover {
		opacity: 1;
		background-color: #000;
		color: #fff;
	}
}
@media screen and (max-width: 812px) {

	.pc { display: none;}

	.contentWrap {
		padding: 0 5vw;
	}

	.moreBtn {
		padding: 12vw;
	}
	.moreBtn a {
		font-size: 3.8vw;
		padding: 4vw;
		max-width: 100%;
	}
}



/* ////////////////////////////////////////////////////////////////////////////////

	Header

//////////////////////////////////////////////////////////////////////////////// */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: #000 solid 2px;
	padding: 10px 20px;
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	background-color: #fff;
	z-index: 9998;
}
.header .searchIcon {
	line-height: 0;
	width: 25px;
}

.header h1 {
	line-height: 0;
	max-width: 140px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header .hdrMenu {
	display: flex;
    align-items: center;
}
.header .hdrMenu .favorite {
	line-height: 0;
	width: 24px;
}
.header .hdrMenu .cart {
	line-height: 0;
	width: 20px;
	margin-left: 20px;
	position: relative;
}
.header .hdrMenu .cart .num {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -5px;
	right: -10px;
	background-color: #F49582;
	color: #000;
	width: 18px;
	height: 18px;
	text-align: center;
	border-radius: 50%;
	font-size: 10px;
}

.header .login {
	margin-left: 25px;
}
.header .login a {
	display: block;
	color: #000;
	font-family: neue-haas-grotesk-display, sans-serif;
	font-size: 12px;
	letter-spacing: 0.1em;
	text-decoration: none;
	text-align: center;
	border: #000 solid 2px;
	width: 120px;
	height: 40px;
	line-height: 36px;
}

.logind .header .login a {
	background-color: #F49582;
}

@media screen and (min-width: 813px) {

	.header .login a:hover {
		opacity: 1;
		background-color: #000;
		color: #fff;
	}

	#menuButton,
	#spMenu {
		display: none !important;
	}

}
@media screen and (max-width: 812px) {
	.header {
    	padding: 1.6vw 3vw 1.6vw 5vw;
    	height: 14.4vw;
	}
	.header h1 {
		max-width: 26vw;
	}

	.header .searchIcon {
		width: 6vw;
	}

	.header .login {
		margin-left: 7vw;
		display: none;
	}
	.header .login a {
		font-size: 2.8vw;
		border: #000 solid 1px;
		width: 16vw;
		height: auto;
		line-height: 7.2vw;
	}

	.header .hdrMenu .cart {
		width: 4vw;
		margin-left: 4vw;
	}
	.header .hdrMenu .cart .num {
		top: -1.5vw;
		right: -2.8vw;
		width: 4vw;
		height: 4vw;
		font-size: 2.6vw;
	}
	.header .hdrMenu .favorite {
		display: none;
		width: 5vw;
		margin-left: 4vw;
	}

	#menuButton {
		display: block;
		width: 40px;
		height:40px;
    	position: relative;
		background-color: #fff;
    	margin-left: 6vw;
		transition: all 0.4s;
	}
	#menuButton.active {
		background-color: #000;
	}
	#menuButton span {
		display: block;
		background: #000;
		width: 20px;
		height: 2px;
		position: absolute;
		left: 10px;
		transition: all 0.4s;
	}
	#menuButton.active span {
		background-color: #fff;
	}

	#menuButton span:first-child { top: 12px;}
	#menuButton span:nth-child(2) { margin-top: -1px; top: 50%;}
	#menuButton span:nth-child(3) { bottom: 12px;}
	#menuButton.active span:first-child {
		transform: translateY(7px) rotate(45deg);
	}
	#menuButton.active span:nth-child(2) { opacity: 0;}
	#menuButton.active span:nth-child(3) {
		transform: translateY(-7px) rotate(-45deg);
	}

	#spMenu {
		padding-top: 14.5vw;
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 9000;
	}
	#spMenu .spMenuInr {
		padding: 8vw 6vw;
	}

	#spMenu .spMenuBtn {
		margin-bottom: 8vw;
	}
	#spMenu .spMenuBtn li {
		margin-bottom: 5vw;
	}
	#spMenu .spMenuBtn li a {
		font-family: neue-haas-grotesk-display, sans-serif;
		letter-spacing: 0.06em;
		font-weight: bold;
		display: block;
		text-align: center;
		border: #000 solid 2px;
		color: #000;
		text-decoration: none;
		padding: 4vw;
		font-size: 3.6vw;
	}
	.logind #spMenu .spMenuBtn li.login a {
    	background-color: #F49582;
	}
	#spMenu .spMenuBtn li a span {
		display: inline-block;
		padding-left: 8vw;
		background: url(../images/icon_fav.svg) no-repeat left 15%;
		background-size: auto 80%;
	}

	#spMenu .ftrNav {
    	padding: 6vw 0 4vw;
		border-top: #000 solid 1px;
		border-bottom: #000 solid 1px;
	}
	#spMenu .ftrNav ul {
    	display: flex;
		flex-wrap: wrap;
		font-size: 3vw;
	}
	#spMenu .ftrNav ul:last-child {
		margin-top: 4vw;
		padding-top: 6vw;
		border-top: #000 solid 1px;
    	color: #fff;
	}
	#spMenu .ftrNav li {
		margin-bottom: 2vw;
		width: 50%;
	}
	#spMenu .ftrNav ul:last-child li {
    	width: 100%;
	}
	#spMenu .ftrNav li a {
		font-size: 3vw;
		font-weight: bold;
		color: #000;
		text-decoration: none;
	}
	#spMenu .ftrNav li:last-child a {
		width: 42%;
	}
	#spMenu .ftrNav ul:last-child li a {
    	display: inline-block;
	}

	#spMenu .ftrNav li.contact {
		width: 100%;
		color: #000;
	}

	#spMenu .ftrBtm {
		display: flex;
		justify-content: space-between;
    	align-items: center;
		position: absolute;
		bottom: 8vw;
		left: 6vw;
		width: 88vw;
	}
	#spMenu .ftrBtm .ftrLogo {
		width: 32vw;
	}
	#spMenu .ftrBtm .copyright {
		font-size: 2.6vw;
	}

}


/* ////////////////////////////////////////////////////////////////////////////////

	search

//////////////////////////////////////////////////////////////////////////////// */
.searchClose {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 36px;
    height: 36px;
    background-color: #000;
    transform: translateY(-50%);
    line-height: 0;
    display: none;
}
.searchClose a {
	display: block;
    padding: 8px;
}

#search {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9990;
    background-image: linear-gradient(230deg, #C26E81 0%, #0630FF 80%);
}
#search .searchInr {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#search .searchBox {
    margin-top: 62px;
	background-color: #fff;
    padding: 5vh;
	width: 90%;
	max-width: 880px;
	box-sizing: border-box;
}

#search .searchForm {
	display: flex;
	justify-content: space-between;
	border: #000 solid 2px;
	padding: 1vh 2vh;
    margin-bottom: 2.5vh;
}
#search .searchForm input[type="text"] {
	width: calc(100% - 100px);
	font-size: 16px;
}
#search .searchForm input[type="text"]:focus,
#search .searchForm input[type="submit"]:focus {
	outline: none;
}
#search .searchForm input[type="submit"] {
	width: 90px;
	text-align: center;
	border-left: #000 solid 1px;
    font-family: neue-haas-grotesk-display, sans-serif;
	font-size: 14px;
	letter-spacing: 0.06em;
	padding-left: 2vh;
}

#search .searchTtl {
	color: #aaa;
    font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: bold;
    font-size: 1.6vh;
	letter-spacing: 0.06em;
    margin-bottom: 1.2vh;
}

#search .searchKeyword {
    margin-bottom: 1.5vh;
}
#search .searchKeyword ul {
	display: flex;
	flex-wrap: wrap;
}
#search .searchKeyword ul li {
	margin: 0 10px 15px;
}
#search .searchKeyword ul li a {
	display: block;
    text-align: center;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    padding: 0.6vh 2.5vh;
    border: #000 solid 2px;
    border-radius: 30px;
    font-size: 1.5vh;
}

#search .searchMenu {
	border-top: #000 solid 1px;
    margin-bottom: 3vh;
}
#search .searchMenu li {
	border-bottom: #000 solid 1px;
}
#search .searchMenu li a {
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 1.7vh;
    font-weight: bold;
    padding: 1.5vh 0;
    background: url(../images/arrow02.svg) no-repeat right center;
    background-size: 20px;
}
#search .searchMenu li a span {
	color: #aaa;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 1.4vh;
	letter-spacing: 0.06em;
    margin-left: 2vh;
}

#search .feature ul {
	display: flex;
}
#search .feature ul li {
    width: 23%;
    margin: 0 1%;
    line-height: 0;
}
#search .feature ul li img {
	width: 100%;
	height: auto;
}


@media screen and (max-width: 812px) {

	.searchClose {
		width: 40px;
		height: 40px;
		left: 3vw;
	}
	.searchClose a {
    	padding: 12px;
	}

	#search .searchBox {
		margin-top: 14.5vw;
		padding: 3vh;
	}
	#search .searchForm {
		padding: 0.6vh 1.5vh;
		margin-bottom: 2.2vh;
	}
	#search .searchForm input[type="submit"] {
		width: 18vw;
		font-size: 3.4vw;
		padding-left: 2vh;
	}
	#search .searchForm input[type="text"] {
		width: calc(100% - 18vw);
		font-size: 3.2vw;
	}

	#search .searchTtl {
		font-size: 1.6vh;
		margin-bottom: 1.2vh;
	}

	#search .feature ul {
		justify-content: space-between;
	}
	#search .searchKeyword ul li {
		margin: 0 1vw 2vw;
	}
	#search .searchKeyword ul li a {
		padding: 0.4vh 1.6vh;
		border: #000 solid 1px;
		font-size: 1.2vh;
	}

	#search .feature ul li {
		width: 46%;
		margin: 0;
	}


}
